<div class="centered col">
    <h2 class="kinda-smaller">Login</h2>
    <div class="panel bg-neutral-11 box-shadow-1 border-rounded">
        <div class="panel-body long">
            <form class="form" name="example02">
                <fieldset>
                    <div class="grid form-row">
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="username" id="username" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid form-row">
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="password" name="password" id="password" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid form-row">
                        <div class="col form-col centered">
                            <div class="form-unit">
                                <div class="field-row">
                                    <div id="buttons">
                                        <a href="/register" class="btn btn-default-alt">
                                            <span class="btn-inner-content">
                                                <span>Register</span>
                                            </span>
                                        </a>
                                        <button id="logButton" class="btn btn-default" type="button" aria-label="Submit">
                                            <span class="btn-inner-content">
                                                <span>Login</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>