<div class="centered col">
    <h2 class="kinda-smaller">Register</h2>
    <div class="panel bg-neutral-11 box-shadow-1 border-rounded">
        <div class="panel-body">
            <form class="form" name="example02">
                <fieldset>
                    <div class="grid form-row">
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="firstName">First Name</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="firstName" id="firstName" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                        <div class="col form-col col-fixed col-xs-4">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="initial">M
                                            <span class="optional-text type-neutral-4">(Opt)</span>
                                        </label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="middle" id="initial" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="lastName">Last Name</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="lastName" id="lastName" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid form-row">
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="email">Email Address</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="email" id="email" placeholder="foo@bar.com" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid form-row">
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="username" id="username" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid form-row">
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="password" name="password" id="password" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                        <div class="col form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="passconfirm">Confirm Password</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="password" name="passconfirm" id="passconfirm" />
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid form-row">
                        <div class="col form-col"></div>
                        <div class="col form-col col-fixed">
                            <div class="form-unit">
                                <div class="field-row">
                                    <div>
                                        <a href="/login" class="btn btn-default-alt">
                                            <span class="btn-inner-content">
                                                <span>Already Signed Up?</span>
                                            </span>
                                        </a>
                                        <button id="regButton" class="btn btn-default" type="button" aria-label="Submit">
                                            <span class="btn-inner-content">
                                                <span>Register</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="help-row type-dark-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>