// May not use this
// @import '~carbon-components/scss/globals/scss/styles.scss';

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$standout-font: 'Barlow Semi Condensed', sans-serif;
$normal-font: 'Open Sans', sans-serif;

$header: rgb(55, 61, 73);
$dark-grey: #282a36;
$white: #f1f1f1;
$blue: #0496ff;
$red: #eb4511;

body {
	margin: 0;
	overflow: hidden;
	font-family: $normal-font;
	background-color: $dark-grey;
	color: $white;
}

a:hover,
a:active,
a:focus {
	color: $white;
	text-decoration: none !important;
	outline: none !important;
}

pre {
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

pre > code {
	background-color: rgba(255, 255, 255, 0);
}

code {
	padding: 0.5em;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

ul {
	margin: 0;
}

.tab-pane {
	padding: 0;
}

.simple-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

// Overrides
.btn-brand-alt {
	border-color: $white !important;
	color: $white !important;
}

.tab-content {
	background-color: $dark-grey !important;
}

.tab-simple > .nav > li > a {
	font-family: $standout-font;
	color: rgb(81, 82, 86);
}

.tab-simple > .nav > li > a:hover {
	color: $white;
}

.tab-simple > .nav > li > a:hover:after {
	background-color: $white;
}

.tab-simple > .nav > li:hover {
	cursor: pointer;
	transition: all 300ms ease-out;
	transition-property: background-color, color, opacity;
}

.tab-simple > .nav > li.active > a {
	color: $white;
}

.tab-simple > .nav > li.active > a:after {
	background-color: #0496ff;
}

.flyout {
	background-color: rgba(34, 36, 46, 0.8) !important;
	color: $dark-grey !important;
}
