// @import '~carbon-components/scss/globals/scss/styles.scss';
// Not sure what to use yet

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

body {
	margin: 0;
	overflow: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #f1f1f1;
}

.dark-theme {
	background-color: #282a36;
	color: #f1f1f1;
}
